In [1]:
import numpy as np

In [15]:
bs = 4
datalen = 32
bptt = 2

collen = int(datalen/bs)
#for i in range(bs):
#    print(i)
 
#for i in range(0,)
for row_nbr in range(0,collen, bptt):
    for batch_start_nbr in range(row_nbr,datalen,collen):
        for k in range(bptt):
            print(j+k)
    #for j in range(bs):

0
1
8
9
16
17
24
25
2
3
10
11
18
19
26
27
4
5
12
13
20
21
28
29
6
7
14
15
22
23
30
31

In [17]:
[batch_start_nbr+k for row_nbr in range(0,collen, bptt) 
 for batch_start_nbr in range(row_nbr,datalen,collen) 
 for k in range(bptt)]

[0,
 1,
 8,
 9,
 16,
 17,
 24,
 25,
 2,
 3,
 10,
 11,
 18,
 19,
 26,
 27,
 4,
 5,
 12,
 13,
 20,
 21,
 28,
 29,
 6,
 7,
 14,
 15,
 22,
 23,
 30,
 31]

In [19]:
new_index_order = [batch_start_nbr + k for row_nbr in range(0, collen, bptt) 
                   for batch_start_nbr in range(row_nbr, 32) 
                   for k in range(bptt)]
new_index_order

[0,
 1,
 1,
 2,
 2,
 3,
 3,
 4,
 4,
 5,
 5,
 6,
 6,
 7,
 7,
 8,
 8,
 9,
 9,
 10,
 10,
 11,
 11,
 12,
 12,
 13,
 13,
 14,
 14,
 15,
 15,
 16,
 16,
 17,
 17,
 18,
 18,
 19,
 19,
 20,
 20,
 21,
 21,
 22,
 22,
 23,
 23,
 24,
 24,
 25,
 25,
 26,
 26,
 27,
 27,
 28,
 28,
 29,
 29,
 30,
 30,
 31,
 31,
 32,
 2,
 3,
 3,
 4,
 4,
 5,
 5,
 6,
 6,
 7,
 7,
 8,
 8,
 9,
 9,
 10,
 10,
 11,
 11,
 12,
 12,
 13,
 13,
 14,
 14,
 15,
 15,
 16,
 16,
 17,
 17,
 18,
 18,
 19,
 19,
 20,
 20,
 21,
 21,
 22,
 22,
 23,
 23,
 24,
 24,
 25,
 25,
 26,
 26,
 27,
 27,
 28,
 28,
 29,
 29,
 30,
 30,
 31,
 31,
 32,
 4,
 5,
 5,
 6,
 6,
 7,
 7,
 8,
 8,
 9,
 9,
 10,
 10,
 11,
 11,
 12,
 12,
 13,
 13,
 14,
 14,
 15,
 15,
 16,
 16,
 17,
 17,
 18,
 18,
 19,
 19,
 20,
 20,
 21,
 21,
 22,
 22,
 23,
 23,
 24,
 24,
 25,
 25,
 26,
 26,
 27,
 27,
 28,
 28,
 29,
 29,
 30,
 30,
 31,
 31,
 32,
 6,
 7,
 7,
 8,
 8,
 9,
 9,
 10,
 10,
 11,
 11,
 12,
 12,
 13,
 13,
 14,
 14,
 15,
 15,
 16,
 16,
 17,
 17,
 18,
 18,
 19,
 19,
 20,
 20,
 21,
 21,
 22,
 22,
 23,
 23,
 24,
 24,
 25,
 25,
 26,
 26,
 27,
 27,
 28,
 28,
 29,
 29,
 30,
 30,
 31,
 31,
 32]

In [20]:
round(0.92)

1

In [21]:
round(1.09)

1

In [23]:
a = [1,2,3]
b = None
len(a+b)

TypeError: can only concatenate list (not "NoneType") to list

In [28]:
cols = a+b if a is not None and b is not None else a
a

[1, 2, 3]

In [32]:
cat = None
cont = a
cols = cat+cont if cat is not None and cont is not None else cont if cat is None else cat
cols

[1, 2, 3]

In [ ]:
hur hantera om nåon av dem är None? då kan man inte skicka med data??